<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Change Your House</title>
		<link href="/static/css/Homepage_layout.css" rel="stylesheet" />
		<script language="JavaScript" src="/static/js/layout.js"></script>
	</head>
	<body>
		<header>
			{% load static %}
			<img src="{% static 'images/LOGO.png'%}" width="100" alt="LOGO" />
		    <nav class="horizontalNavigation">
		       <ul>
				   <li><a href="/Collected_data.html">Collected Data</a></li>
		          <li><a href="/..">Home</a></li>
		       </ul>
		    </nav>
		 </header>
		<img src="{% static 'images/R-C.png'%}" alt="Main-picture"/>
		
		<p>这里是一段描述关于人流量监测</p>
		<footer>
		<hr />
		<h3>Contact US</h3>
		<p>If you have any question please email at:
		<a href=mailto:sgreer@example.com>sgreer@example.com</a></p>
		<p> or call us at:
		<a href=tel:(304) 555-7120>(304) 555-7120</a></p>
		<em><small>Site Map| Contact Us| Term & Conditions| Copyright| Latest update
		</small></em></footer>
		<h2>{{ views_str|safe }}</h2>
	</body>
</html>
